<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <link rel="stylesheet" href="style.css">
    <!-- place for ur fontfam -->
    <title>VUE To Do List</title>
</head>
<body>

    <div id="app">
        <div class="header">
            <div class="container">
                <div class="logo">VUE ToDo List</div>
                <div class="form">
                    <input type="text" 
                    v-model="valueInput"
                    v-on:keypress.enter="addTask"
                    >
                   <button class="btn" v-on:click="addTask">Сделаем</button>
                </div>
            </div>
        </div>
        <div class="container">
            <h2>
                <span>Мои Дела</span>
                <span class="mask-num">{{ needDoList.length }}</span>
            </h2>
            <ul class="mask-list">
                <li v-for="(mask,index) in needDoList" :key="mask.id">
                    <div>
                        <input type="checkbox" v-on:change="doCheck(index,'need')">
                        <span>{{mask.title}}</span>
                    </div>
                    <button class="btn-remove" v-on:click="removeMask(index,'need')">Сделал</button>
                </li>
            </ul>
            <h2>
                <span>Сделано</span>
                <span class="mask-num">{{ completelist.length }}</span>
            </h2>
            <ul class="mask-list complete-list">
                <li v-for="(mask,index) in completelist" :key="mask.id">
                    <div>
                        <input type="checkbox" v-on:change="doCheck(index,'complete')" checked>
                        <span>{{mask.title}}</span>
                    </div>
                    <button class="btn-remove" v-on:click="removeMask(index, 'complete')">Сделал</button>
                </li>
            </ul>
        </div>
    </div>


    
    <script src="https://unpkg.com/vue@next"></script>  
    <script src="./script.js"></script>
</body>
</html>